<% provide :body_id, 'landing' %>
<% provide :title, 'Home' %>

<h1>University of Illinois at Urbana-Champaign Library Digital Image Collections</h1>

<div class="row">
  <div class="col-sm-7">
    <h2>About the collections</h2>

    <p>The digital collections of the Library of the University of Illinois at
      Urbana-Champaign are built from the rich special collections of its Rare
      Book & Manuscript Library; Illinois History and Lincoln Collection,
      University Archives; Map Library; and Sousa Archives & Center for American
      Music, among other units.</p>

    <p>The collections include historic photographs; maps; prints and watercolors;
      bookplates; architectural drawings and blueprints; letters and other archival
      materials; videos; political cartoons; and advertisements. They cover a wide
      range of subject areas including Illinois and American history, music,
      theater history, and the history of the University of Illinois, among others.
      The Library’s digital collections provide access to some of its most unique
      holdings for teaching, learning, and research for students, scholars and the
      general public.</p>

    <p>The Library contributes collaboratively to local, national, and
      international digital initiatives, such as the Digital Public Library of
      America and the Biodiversity Heritage Library.</p>

    <div class="text-center uiuc-nav-buttons">
      <%= link_to 'Browse Collections', repository_collections_path,
                  class: 'btn btn-default btn-lg' %>
      <%= link_to 'Browse Items', repository_items_path,
                  class: 'btn btn-default btn-lg' %>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="text-center">
      <%= thumbnail_tag(@random_item, 512) %>
      <%= link_to @random_item.title, @random_item %>
      <br>
      <%= link_to @random_item.collection.title, @random_item.collection %>
    </div>
  </div>
</div>
